<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-8 col-xl-8 col-lg-8">
      <div class="card  mb-2">
        <div class="card-header">
          <h5 class="card-title mb-0 mt-1">User Role</h5>
        </div>
        <div class="card-body">
          <app-alert-notifications></app-alert-notifications>
          <!-- <pre>{{listOfRoles|json}}</pre> -->
          <form [formGroup]="form" (ngSubmit)="submit(form)">
            <div class="form-group">
              <label for="userName" class="">User Name</label>
              <select class="form-control" formControlName="user" id="user">
                <option disabled [value]="null">-- Select --</option>
                <option *ngFor="let user of users" [ngValue]="user">
                  {{ user.fullname }}
                </option>
              </select>
              
              <small id="emailHelp" class="form-text text-danger" *ngIf="form.controls['user'].hasError('required') && form.controls['user'].touched">We'll
                never share your email with anyone else.</small>
            </div>
            <div class="form-group">

              <div class="custom-control custom-checkbox custom-control-inline" formArrayName="listOfRoles" *ngFor="let order of form.controls.listOfRoles.controls; let i = index">
                <input class="custom-control-input" type="checkbox" [id]="i" [formControlName]="i">
                <label class="custom-control-label" [for]="i">{{listOfRoles[i].name}}</label>
              </div>


            </div>
            <div class="form-group mb-0 pull-right">
              <button class="btn btn-primary" [disabled]="!form.valid" type="submit">Save</button>
            </div>

          </form>
        </div>
      </div>
      <div class="card">
        <!-- table search section -->
        <div class="card-header">
          <div class="d-flex justify-content-between">
            <h5 class="card-title mb-0 mt-1">User ways role</h5>
            <!-- table search section -->
            <!-- <form>
              <div class="form-row align-items-center mb-0">
                <div class="col-auto">
                  <label class="sr-only" for="searchListOfRole">Username</label>
                  <div class="input-group">
                    <input type="text" class="form-control" id="searchListOfRole" placeholder="Search" name="search"
                      #searchLocVar="ngModel" [(ngModel)]="search" (input)="onSearchChange($event.target.value)">
                     <input type="text" class="form-control" id="searchListOfRole" placeholder="Search" name="search" [(ngModel)]="search">
                    <div class="input-group-prepend">
                      <button *ngIf="isResetShow" (click)="searchReset(search)" class="btn btn-danger" type="button"><i
                          class="fa fa-times" aria-hidden="true"></i></button>
                      <button (click)="searchForValue(search)" class="btn btn-info" type="button "><i class="fa fa-search"
                          aria-hidden="true"></i></button>
                    </div>
                  </div>
                </div>
              </div>
            </form> -->
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered table-sm mb-0">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Rolea</th>
                  <!-- <th>Action</th> -->
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of userRole; let i=index ">
                  <td>{{i}}</td>
                  <td>{{item.name}}</td>
                  <td>{{item.email}}</td>
                  <td>{{item.roles}}</td>
                  <!-- <td>
                    <a role="button" class="p-0 text-danger mr-3" data-toggle="tooltip" data-placement="top" title="Delete"
                      (click)="deleteRole(item)"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    <a role="button" data-toggle="tooltip" data-placement="top" title="Edit" class="btn p-0 text-dark"
                      (click)="updateRole(item)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                  </td> -->
                </tr>
                <tr *ngIf="tableDataNotFound">
                  <td colspan="3">Table data not found</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
