# exercise
personalTrainerVersion-01/exercise/node_modules/
personalTrainerVersion-01/exercise/package-lock.json
# guessthenumber
personalTrainerVersion-01/guessthenumber/node_modules/
personalTrainerVersion-01/guessthenumber/package-lock.json
# personalTrainer
personalTrainerVersion-01/personalTrainer/node_modules/
personalTrainerVersion-01/personalTrainer/package-lock.json
# personalTrainer
personalTrainerVersion-01/PersonalTrainer/node_modules/
personalTrainerVersion-01/PersonalTrainer/package-lock.json





