<!-- tob menu -->
<header style="border-bottom: 1px solid #2d3073;">
  <app-workout-runner-header></app-workout-runner-header>
</header>
<!-- tob menu -->



<!-- main container  -->
<main style="background-color: #1b1e63;height: calc(100vh - 60px);margin-top: 59px;">
  <div class="container">
    <div class="d-flex justify-content-center">
      <h4 class="text-white mt-5  mb-3">User Login</h4>
    </div>
    <div class="d-flex justify-content-center">
      <div class="col-12 col-sm-6 col-md-4 col-xl-4 col-lg-3 bg-white" >
        <form #signInForm="ngForm" (ngSubmit)="signInForm.valid && onSubmit(signInForm)" class="pt-4 pb-4 pl-2 pr-2">
          <div class="form-group">
            <label for="userEmail">Email address</label>
            <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            aria-describedby="Enter valid email address"
            placeholder="Enter email"
            #emailLocalVar="ngModel"
            [(ngModel)]="login.email"
            [pattern]="emailRegex"
            required
            [ngClass]="{'is-invalid':
            ((emailLocalVar.control.hasError('required')) && (emailLocalVar.touched)) ||
            (emailLocalVar.control.hasError('pattern')) ||
            (signInForm.submitted && !emailLocalVar.valid) , 'is-valid' : (!(emailLocalVar.control.hasError('pattern')) &&  (emailLocalVar.touched))}">
            <div *ngIf="(emailLocalVar.control.hasError('required') &&  (emailLocalVar.touched)) || (signInForm.submitted && !emailLocalVar.valid)"
              class="invalid-feedback">
              This field is required.
            </div>
            <div *ngIf="(emailLocalVar.control.hasError('pattern') && (emailLocalVar.touched)) " class="invalid-feedback">
              Invalid email address.
            </div>

          </div>
          <div class="form-group">
            <label for="userPassword">Password</label>
            <input
            type="password"
            name="password"
            class="form-control"
            id="password"
            placeholder="Password"
            #passwordLocalVar="ngModel"
            [(ngModel)]="login.password"
            minlength="4"
            required
            [ngClass]="{ 'is-invalid':
                  (passwordLocalVar.control.hasError('required') && (passwordLocalVar.touched)) ||
                  (passwordLocalVar.control.hasError('minlength') && (passwordLocalVar.touched)) ||
                  (signInForm.submitted && !passwordLocalVar.valid), 'is-valid' : (!(passwordLocalVar.control.hasError('minlength')) &&  (passwordLocalVar.touched))
              }">
            <div *ngIf="((passwordLocalVar.control.hasError('required') && (passwordLocalVar.touched)) && !passwordLocalVar.control.hasError('minlength'))  || ((signInForm.submitted && passwordLocalVar.errors) && !passwordLocalVar.control.hasError('minlength'))"
              class="invalid-feedback">
              Title is required.
            </div>
            <div *ngIf="passwordLocalVar.control.hasError('minlength') && (passwordLocalVar.touched)" class="invalid-feedback">
              Title should be between 5 and 20 characters long.
            </div>
          </div>

          <div class="form-group">
            <div class="d-flex justify-content-between ">
              <div class="custom-control custom-checkbox mb-3">
                <input
                type="checkbox"
                class="custom-control-input"
                id="remember"
                name="remember"
                [(ngModel)]="rememberCheckBox"
                >
                <label class="custom-control-label" for="remember">Remember me {{rememberCheckBox}}</label>
              </div>
              <a [routerLink]="['/user/forget-passworkd']" routerLinkActive="active" class="btn-link text-muted mb-3">
                Forget password?
              </a>
            </div>
          </div>
            <button type="submit" class="btn btn-primary btn-block">Log in</button>
        </form>

        <p class="pl-2 pb-2 text-muted">
          Don't have an account? <a [routerLink]="['/user/sign-up']" routerLinkActive="active" class="btn-link"> Register </a>
        </p>
      </div>
    </div>
  </div>
</main>
