<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" style="border-bottom: 1px solid #dfe0e1;">
  <a class="navbar-brand" [routerLink]="['/builder/workouts']">Workout Builder</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">

      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/builder/workout/new">
          <i class="fa fa-plus" aria-hidden="true"></i> New Workout
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/builder/exercise/new">
          <i class="fa fa-plus" aria-hidden="true"></i> New Exercise
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="/history">History</a>
      </li>
    </ul>
  </div>
</nav>
