<div class="d-flex flex-column h-100">
  <header>
    <app-workout-runner-header></app-workout-runner-header>
  </header>

  <!-- workout history Content -->

  <!-- Content here -->
  <main role="main" class="flex-shrink-0">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12">
          <h4>Workout History</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12">
          <div class="card mb-3">
            <div class="card-header">
              <div class="d-flex justify-content-between">
                <div>
                  <button type="button" class="btn btn-secondary" (click)="viewModal()">View All</button>
                </div>
                <div>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input class="custom-control-input" type="radio" name="searchFilter" id="searchFilter1" (change)="completed = null"
                      value="">
                    <label class="custom-control-label" for="searchFilter1">All</label>
                  </div>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input class="custom-control-input" type="radio" name="searchFilter" id="inlineRadio2" value="true"
                      (change)="completed = $event.target.value=='true'">
                    <label class="custom-control-label" for="inlineRadio2">Completed</label>
                  </div>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input class="custom-control-input" type="radio" name="searchFilter" id="inlineRadio3" value="false"
                      (change)="completed = $event.target.value=='true'">
                    <label class="custom-control-label" for="inlineRadio3">Incomplete</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table *ngIf="isLogInUser" class="table table-striped table-sm table-bordered">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Started</th>
                      <th scope="col">Ended</th>
                      <th scope="col">Last Exercise</th>
                      <th scope="col">Exercises Done</th>
                      <th scope="col">Completed</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let historyitem of historyLogitems|search:'completed':completed|orderBy: 'startedOn'; let i=index">
                      <th scope="row">{{i+1}}</th>
                      <td>{{historyitem.startedOn | date:'short' }}</td>
                      <td>{{historyitem.endedOn | date: 'short'}}</td>
                      <td>{{historyitem.lastExercise}}</td>
                      <td>{{historyitem.exercisesDone}}</td>
                      <td>{{historyitem.completed ? "Yes" : "No"}}</td>
                      <td>
                        <button type="button" class="btn  btn-sm mr-2" (click)="historyItemUpdate(historyitem)">
                          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btn text-danger btn-sm" (click)="historyItemDelete(historyitem)">
                          <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                      </td>

                    </tr>
                    <tr *ngIf="historyLogitems.length === 0" class="warning">
                      <td class="text-center" colspan="8">No Workout History Found.</td>
                    </tr>
                  </tbody>
                </table>


                <table *ngIf="!isLogInUser" class="table table-striped table-sm table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Started</th>
                        <th scope="col">Ended</th>
                        <th scope="col">Last Exercise</th>
                        <th scope="col">Exercises Done</th>
                        <th scope="col">Completed</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let historyitem of historyitems|search:'completed':completed|orderBy: 'startedOn'; let i=index">
                        <th scope="row">{{i+1}}</th>
                        <td>{{historyitem.startedOn | date:'short' }}</td>
                        <td>{{historyitem.endedOn | date: 'short'}}</td>
                        <td>{{historyitem.lastExercise}}</td>
                        <td>{{historyitem.exercisesDone}}</td>
                        <td>{{historyitem.completed ? "Yes" : "No"}}</td>
                        <td>
                          <button type="button" class="btn  btn-sm mr-2" (click)="historyItemUpdate(historyitem)">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                          </button>
                          <button type="button" class="btn text-danger btn-sm" (click)="historyItemDelete(historyitem)">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                          </button>
                        </td>

                      </tr>
                      <tr *ngIf="historyitems.length === 0" class="warning">
                        <td class="text-center" colspan="8">No Workout History Found.</td>
                      </tr>
                    </tbody>
                  </table>


              </div>
            </div>
            <div class="card-footer">
              <button type="button" class="btn btn-dark" (click)="goBack()">Back</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer class="footer mt-auto py-3" style="background-color: #202739">
    <app-workout-runner-footer></app-workout-runner-footer>
  </footer>

</div>
