<div class="row">
  <div class="col-md-6">


    <h2>Guess the Number !</h2>
    <div class="card bg-light mb-3">
      <div class="card-body">
        <p class="card-text">Guess the computer generated random number between 1 and 1000.</p>
      </div>
    </div>
    <div class="form-inline">
      <div class="input-group mb-2 mr-sm-2">
          <label class=" mr-2" >Your Guess: </label>
          <input class="form-control" type="number" [value]="guess" (input)="guess = $event.target.value" />
        <div class="input-group-prepend">
          <div class=" input-group-btn">
              <button (click)="verifyGuess()" class="btn btn-primary ">Verify</button>
              <button (click)="initializeGame()" class="btn btn-warning ">Restart</button>
          </div>
        </div>

      </div>
    </div>
    <div>
      <p *ngIf="deviation < 0" class="alert alert-warning">Your guess is higher.</p>
      <p *ngIf="deviation > 0" class="alert alert-warning">Your guess is lower.</p>
      <p *ngIf="deviation === 0" class="alert alert-success">Yes! That's it.</p>
    </div>
    <p class="text-info">No of guesses :
      <span class="badge">{{noOfTries}}</span>
    </p>
  </div>
</div>
