<div class="d-flex flex-column h-100">
  <!-- Top navigation -->
  <header>
    <app-workout-runner-header></app-workout-runner-header>
  </header>
  <!-- Top navigation -->
  <!-- Begin page content -->
  <main class="flex-shrink-0">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <section class="jumbotron text-white" style=" background-color: #1b1e63; border-radius: 0px;">
      <div class="container">
        <h1 class="display-6">
            {{ 'JUMBOTRON_TITLE' | translate }}
        </h1>
        <p>
            {{ 'JUMBOTRON_SUB_TITLE' | translate }}
        </p>
        <p>
          <a class="btn btn-primary my-2 mx-2" routerLink="/workout" role="button">Let Start &raquo; </a>
          <a class="btn btn-success my-2" routerLink="/user/sign-up"> Create New</a>
        </p>
      </div>
    </section>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <!-- The workout we play -->
    <section>
      <div class="container">
        <div class="d-flex justify-content-between">
          <h2>The workout we play</h2>
          <a class="btn btn-success my-2" routerLink="/user/sign-up"> Create New</a>
        </div>
        <p class="lead">
          The best exercises for regular people just like you and me, you can do a quick-fit workout
          anytime anywhere. It only takes 7 minutes. This 7 minute workout has been highlighted by the New York Times
          as
          offering "maximum results with minimal investment". There are list of exercises.
        </p>
      </div>
      <!-- Two exercise -->
      <div class="container">
        <div class="row mb-2" *ngFor="let item of workoutList">
          <div class="col-md-6" *ngFor="let exercise of item.exercises">
            <div class="card flex-md-row mb-4 shadow-sm h-md-250">
              <div class="card-body d-flex flex-column align-items-start">
                <h3 class="mb-0">
                  <a class="text-dark" href="#">{{exercise.exercise.name}}</a>
                </h3>
                <p class="card-text mb-auto">{{exercise.exercise.description}}</p>
              </div>
              <img [src]="'/assets/images/' + exercise.exercise.image" class="card-img-right flex-auto d-none d-lg-block"
                height="250" width="200" background="#55595c" alt="...">
            </div>
          </div>
        </div>
      </div>

    </section>
    <!-- The workout we play -->
  </main>
  <footer class="footer mt-auto py-3" style="background-color: #202739">
    <app-workout-runner-footer></app-workout-runner-footer>
  </footer>
</div>
