<!-- Magilla I Fast build Admin dashboard for any platform -->
<!--Preloader-->
<div class="preloader-it">
  <div class="la-anim-1"></div>
</div>

<!--/Preloader-->
<div class="wrapper theme-1-active pimary-color-red "
  [ngClass]="{'slide-nav-toggle': leftSlideNavtoggle, 'open-right-sidebar': rightSlideNavtoggle}">
  <!-- Top Menu Items -->
  <nav class="navbar fixed-top navbar-light navbar-expand-lg " style="background-color: #1b2060;">
    <a class="navbar-brand" href="#">
      <img src="/assets/images/logo.png" width="21" height="22" class="d-inline-block align-top mt-1 mr-2" alt="">
      <span class="brand-text"> WKR </span>
    </a>
    <button class="btn btn-success ml-auto bg-transparent border-0" (click)="toggleLeftSlideNav()">
      <i class="fa fa-bars"></i>
    </button>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item " routerLinkActive="active">
          <a class="nav-link text-white" [routerLink]="['/dashboard/deshboare-container']">Dashboard</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Settings</a>
        </li> -->
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item ">
          <a class="nav-link text-white" (click)="toggleRightSlideNav()">
            <i class="fa fa-cog" aria-hidden="true"></i>
          </a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link text-white" href="#" id="navbarApps" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-th" aria-hidden="true"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarApps">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link text-white" href="#" id="navbarSatting" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarSatting">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link text-white" href="#" id="navbarNotification" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-bell" aria-hidden="true"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarNotification">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="javascript:void(0);" tabindex="-1" aria-disabled="true">
            <i class="fa fa-user" aria-hidden="true"></i>
          </a>
        </li>
      </ul>

    </div>
  </nav>
  <!-- /Top Menu Items -->

  <!-- Left Sidebar Menu -->
  <div class="fixed-sidebar-left">
    <ul class="side-nav">
      <li class="navigation-header">
        <span>Main</span>
        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/dashboard/deshboare-container']" routerLinkActive="active">

          <div class="d-flex justify-content-between">
            <div class="">
              <!-- <i class="zmdi zmdi-landscape mr-20"></i> -->
              <i class="fa fa-cloud mr-4" aria-hidden="true"></i>
              <span class="right-nav-text"> Deshboare </span>
            </div>
            <div class="">
              <i class="fa fa-caret-down" aria-hidden="true"></i>
              <!-- <i class="fa fa-caret-up" aria-hidden="true"></i> -->
            </div>
          </div>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" data-toggle="collapse" href="#collapseUserManage" role="button" aria-expanded="false"
          aria-controls="collapseUserManage">
          <div class="d-flex justify-content-between">
            <div class="left-icon">
              <!-- <i class="zmdi zmdi-landscape mr-20"></i> -->
              <i class="fa fa-tachometer mr-4" aria-hidden="true"></i>
              <span class="right-nav-text">User-manage</span>
            </div>
            <div class="right-icon">
              <i class="fa fa-caret-down" aria-hidden="true"></i>
              <!-- <i class="fa fa-caret-up" aria-hidden="true"></i> -->
            </div>
          </div>
        </a>
        <div class="collapse" id="collapseUserManage">
          <ul class="nav flex-column  collapse-level-1">
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link " [routerLink]="['/dashboard/user']">User</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" [routerLink]="['/dashboard/list-of-roles']">List Of Role</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" [routerLink]="['/dashboard/list-of-resources']">List Of Resource</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" [routerLink]="['/dashboard/user-roles']">User Roles</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link " [routerLink]="['/dashboard/role-wise-resource-permission']">Resource Permission</a>
            </li>
          </ul>
        </div>

      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#collapseECommerce" role="button" aria-expanded="false"
          aria-controls="collapseECommerce">
          <div class="d-flex justify-content-between">
            <div class="">
              <!-- <i class="zmdi zmdi-landscape mr-20"></i> -->
              <i class="fa fa-cart-arrow-down mr-4" aria-hidden="true"></i>
              <span class="right-nav-text">E-Commerce</span>
            </div>
            <div class="">
              <i class="fa fa-caret-down" aria-hidden="true"></i>
              <!-- <i class="fa fa-caret-up" aria-hidden="true"></i> -->
            </div>
          </div>
        </a>
        <div class="collapse" id="collapseECommerce">
          <ul class="nav flex-column collapse-level-1">
            <li class="nav-item" routerLinkActive="active" >
              <a class="nav-link " [routerLink]="['/dashboard/product']">Product</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#">Disabled</a>
            </li> -->
          </ul>
        </div>

      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#collapseApps" role="button" aria-expanded="false"
          aria-controls="collapseApps">
          <div class="d-flex justify-content-between">
            <div class="">

              <i class="fa fa-qrcode mr-4" aria-hidden="true"></i>
              <span class="right-nav-text">Apps</span>
            </div>
            <div class="">
              <i class="fa fa-caret-down" aria-hidden="true"></i>

            </div>
          </div>

        </a>
        <div class="collapse" id="collapseApps">
          <ul class="nav flex-column collapse-level-1">
            <li class="nav-item">
              <a class="nav-link active" href="#">Active</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#">Disabled</a>
            </li> -->
          </ul>
        </div>
      </li>

      <!-- <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#collapseWidgets" role="button" aria-expanded="false"
          aria-controls="collapseWidgets">
          <div class="d-flex justify-content-between">
            <div class="">
              <i class="fa fa-paper-plane-o mr-4" aria-hidden="true"></i>
              <span class="right-nav-text">Widgets</span>
            </div>
            <div class="">
              <i class="fa fa-caret-down" aria-hidden="true"></i>
            </div>
          </div>
        </a>
        <div class="collapse" id="collapseWidgets">
          <ul class="nav flex-column collapse-level-1">
            <li class="nav-item">
              <a class="nav-link active" href="#">Active</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#">Disabled</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#collapseUIElements" role="button" aria-expanded="false"
          aria-controls="collapseUIElements">

          <div class="d-flex justify-content-between">
            <div class="">
              <i class="fa fa-object-group mr-4" aria-hidden="true"></i>
              <span class="right-nav-text">UI Elements</span>
            </div>
            <div class="">
              <i class="fa fa-caret-down" aria-hidden="true"></i>
            </div>
          </div>
        </a>
        <div class="collapse" id="collapseUIElements">
          <ul class="nav flex-column collapse-level-1">
            <li class="nav-item">
              <a class="nav-link active" href="#">Active</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#">Disabled</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <div class="d-flex justify-content-between">
            <div class="">
              <i class="fa fa-cloud mr-4" aria-hidden="true"></i>
              <span class="right-nav-text">Forms</span>
            </div>
            <div class="">
              <i class="fa fa-caret-down" aria-hidden="true"></i>
            </div>
          </div>
        </a>
      </li> -->

    </ul>
  </div>
  <!-- /Left Sidebar Menu -->

  <!-- Right Sidebar Menu -->
  <div class="fixed-sidebar-right">
    <div class="right-sidebar">
      <div class="tab-struct custom-tab-1">
        <ul class="nav nav-tabs" id="right_sidebar_tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="chat_tab_btn" data-toggle="tab" href="#chat_tab" role="tab"
              aria-controls="chat" aria-selected="true">chat</a>

          </li>
          <li class="nav-item">
            <a class="nav-link" id="messages_tab_btn" data-toggle="tab" href="#messages_tab" role="tab"
              aria-controls="messages" aria-selected="false">messages</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="todo_tab_btn" data-toggle="tab" href="#todo_tab" role="tab" aria-controls="todo"
              aria-selected="false">todo</a>
          </li>
        </ul>
        <div class="tab-content" id="right_sidebar_content">
          <div class="tab-pane fade show active" id="chat_tab" role="tabpanel" aria-labelledby="chat_tab_btn">
            chat
          </div>
          <div class="tab-pane fade" id="messages_tab" role="tabpanel" aria-labelledby="messages_tab_btn">
            messages
          </div>
          <div class="tab-pane fade" id="todo_tab" role="tabpanel" aria-labelledby="todo_tab_btn">
            todo
          </div>
        </div>
      </div>
    </div>
    <ul class="nav nav-tabs right-sidebar">
      <li class="nav-item">
        <a class="nav-link active" href="#">Active</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </div>
  <!-- /Right Sidebar Menu -->

  <!-- Right Setting Menu -->
  <div class="setting-panel"></div>
  <!-- /Right Setting Menu -->

  <!-- Right Sidebar Backdrop -->
  <div class="right-sidebar-backdrop"></div>
  <!-- /Right Sidebar Backdrop -->

  <!-- Main Content -->
  <div class="page-wrapper">

    <!-- Dynamic containe -->
    <router-outlet></router-outlet>
    <!-- Dynamic containe -->

    <!-- Footer -->
    <!-- <footer class="footer container-fluid pl-30 pr-30">
      <div class="row">
        <div class="col-sm-12">
          <p>2019 &copy; WKR </p>
        </div>
      </div>
    </footer> -->
    <!-- /Footer -->
  </div>
  <!-- /Main Content -->
</div>
<!-- /#wrapper -->
