<!-- <pre>Current Exercise: {{currentExercise | json}}</pre>
<pre>Time Left: {{currentExercise.duration - exerciseRunningDuration}}</pre> -->

<div class="row pt-4">
  <div id="description-panel" class="col-sm-3">
      <app-exercise-description
        [description]="currentExercise.exercise.description"
        [steps]="currentExercise.exercise.procedure"></app-exercise-description>
  </div>
  <div id="exercise-pane" class="col-sm-6">
    <h4 class="text-center">Workout Remaining - {{workoutTimeRemaining | secondsToTime}}</h4>
    <h1 class="text-center"> {{currentExercise.exercise.title}} </h1>
    <div class="image-container row">
      <img class="img-fluid col-sm" [src]="'assets/images/' + currentExercise.exercise.image" alt="loading img">
    </div>
    <div class="progress time-progress row">
      <div class="progress-bar" role="progressbar"
        [attr.aria-valuenow]="exerciseRunningDuration"
        aria-valuemin="0"
        [attr.aria-valuemax]="currentExercise.duration"
        [ngStyle]="{'width': (exerciseRunningDuration/currentExercise.duration) * 100 + '%'}">
      </div>
    </div>
    <h2>Time Remaining: {{currentExercise.duration-exerciseRunningDuration}}</h2>
  </div>
  <div id="video-panel" class="col-sm-3">
      <app-video-player [videos]="currentExercise.exercise.videos"></app-video-player>
  </div>

</div>
