<div class="row">
  <div class="col-md-2 d-none d-md-block bg-light sidebar">
    <app-left-nav-main></app-left-nav-main>
  </div>
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10  pl-3">
    <h6 class="card-title txt-dark">Workouts</h6>
    <div class="row">
      <div class="col-md-3" *ngFor="let workout of workoutList">
        <div class="card mb-4 shadow-sm">
          <img src="assets/images/workout.jpg" class="card-img-top" alt="Workout">
          <div class="card-body">
            <h5 class="card-title">{{workout.name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Exercise Count - {{workout.exercises.length}}</h6>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary" (click)="onSelect(workout)">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary" (click)="onSelect(workout)">Edit</button>
              </div>
              <small class="text-muted"> Duration: {{(workout.totalWorkoutDuration? workout.totalWorkoutDuration():
                0)|secondsToTime}}</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
