.image-container {
  margin: 25px auto;
  width: 540px;
  height: 360px;
  cursor: pointer;
}

.video-image {
  height: 165px;
}

.fade.in {
  opacity: 1;
}

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

.modal-backdrop .fade .in {
  opacity: 0.5 !important;
}

.modal-backdrop.fade {
  opacity: 0.5 !important;
}

#pause-overlay {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 10;
}

#pause-overlay:hover {
  opacity: .8;
}

#pause-overlay .pause {
  font-size: 120pt;
  width: 140px;
  height: 140px;
  color: #4eaded;
}

.absolute-center {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Admin Basic */
.fixed-sidebar-left {
  position: fixed;
  top: 56px;
  left: 0;
  width: 225px;
  margin-left: 0;
  bottom: 0;
  z-index: 100;
  border-right: 1px solid rgba(33, 33, 33, 0.1);
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.page-wrapper {
  margin-left: 225px;
  padding: 56px 6px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  left: 0;
}

/* Navigration slide-nav-toggle */
.slide-nav-toggle .fixed-sidebar-left {
  width: 44px;
}

.slide-nav-toggle .page-wrapper {
  margin-left: 44px;
}


.fixed-sidebar-left .right-nav-text {
  opacity: 1;
  -webkit-transition: opacity 0.1s ease 0s;
  -moz-transition: opacity 0.1s ease 0s;
  transition: opacity 0.1s ease 0s;
}

.fixed-sidebar-left .side-nav {
  border: none;
  height: 100%;
  width: 100%;
  position: relative;
  border-radius: 0;
  margin: 0;
  overflow-y: auto;
  background-color: #fff;
  backface-visibility: hidden;
}

.fixed-sidebar-left .side-nav li {
  width: 225px;
}

.fixed-sidebar-left .side-nav li.navigation-header>span,
.fixed-sidebar-left .side-nav li.navigation-header>i {
  padding: 11px 15px;
}

.fixed-sidebar-left .side-nav li.navigation-header>span {
  font-size: 11px;
  display: block;
  text-transform: uppercase;
  font-weight: 500;
  color: #dc0030;
}

.fixed-sidebar-left .side-nav li.navigation-header>i {
  display: none;
  font-size: 16px;
}

.fixed-sidebar-left .side-nav li a[aria-expanded="true"] {
  background: rgba(33, 33, 33, 0.05);
}

.fixed-sidebar-left .side-nav li a[aria-expanded="true"]>i {
  color: #e2724c;
}

.fixed-sidebar-left .side-nav li a[aria-expanded="true"] .right-icon-name i:before {
  content: '\f0d8';
}

.fixed-sidebar-left .side-nav li a {
  width: 100%;
  text-transform: capitalize;
  -webkit-transition: 0.1s ease;
  -moz-transition: 0.1s ease;
  transition: 0.1s ease;
}

.fixed-sidebar-left .side-nav li a .left-icon-name>i {
  font-size: 18px;
  width: 18px;
}

.fixed-sidebar-left .side-nav li a .right-icon-name i {
  color: #878787;
}

.fixed-sidebar-left .side-nav>li>a {
  color: #212121;
  padding: 7px 15px;
}

.fixed-sidebar-left .side-nav>li>a:hover {
  background: rgba(33, 33, 33, 0.05);
}

.fixed-sidebar-left .side-nav>li>a:focus,
.fixed-sidebar-left .side-nav>li>a:active {
  background: rgba(33, 33, 33, 0.05);
  color: #212121;
}

.fixed-sidebar-left .side-nav>li>a:focus>i,
.fixed-sidebar-left .side-nav>li>a:active>i {
  color: #e2724c;
}

.fixed-sidebar-left .side-nav>li a.active-page {
  background: rgba(33, 33, 33, 0.05);
}

.fixed-sidebar-left .side-nav>li>.collapse>ul>li.nav-item a.nav-link {
  padding: 7px 15px 7px 51px;
  display: block;
  color: #878787;
}

.fixed-sidebar-left .side-nav>li>.collapse>ul>li a:hover,
.fixed-sidebar-left .side-nav>li>.collapse>ul>li a:focus,
.fixed-sidebar-left .side-nav>li>.collapse>ul>li a:active {
  background: rgba(33, 33, 33, 0.05);
  color: #878787;
}

.fixed-sidebar-left .side-nav>li>ul>li>ul>li a {
  padding-left: 62px;
  color: #878787;
}

.fixed-sidebar-left .side-nav>li>ul>li>ul>li a:hover,
.fixed-sidebar-left .side-nav>li>ul>li>ul>li a:focus,
.fixed-sidebar-left .side-nav>li>ul>li>ul>li a:active {
  color: #878787;
}

.fixed-sidebar-left .side-nav>li>a.active {
  background: #dc0030;
  color: #fff;
}

.fixed-sidebar-left .side-nav>li>a.active>i {
  color: #fff;
}

.fixed-sidebar-left .side-nav>li>a.active .right-icon-name>i {
  color: #dc1111;
}

.fixed-sidebar-left .side-nav>li ul.collapse li a.active {
  color: #212121;
}


.slide-nav-toggle .navbar.navbar-inverse.navbar-fixed-top .nav-header {
  width: 44px;
}

.slide-nav-toggle .navbar.navbar-inverse.navbar-fixed-top .nav-header .logo-wrap .brand-text {
  opacity: 0;
  visibility: hidden;
}

.slide-nav-toggle.sidebar-hover .navbar.navbar-inverse.navbar-fixed-top .nav-header {
  width: 225px;
}

.slide-nav-toggle.sidebar-hover .navbar.navbar-inverse.navbar-fixed-top .nav-header .logo-wrap .brand-text {
  opacity: 1;
  visibility: visible;
}

.slide-nav-toggle .fixed-sidebar-left {
  width: 44px;
}

.slide-nav-toggle .fixed-sidebar-left .side-nav li.navigation-header>span {
  display: none;
}

.slide-nav-toggle .fixed-sidebar-left .side-nav li.navigation-header>i {
  display: block;
}

.slide-nav-toggle .fixed-sidebar-left .collapse.show {
  display: none;
}

.slide-nav-toggle .fixed-sidebar-left:hover {
  width: 225px;
}

.slide-nav-toggle .fixed-sidebar-left:hover .side-nav li.navigation-header>span {
  display: block;
}

.slide-nav-toggle .fixed-sidebar-left:hover .side-nav li.navigation-header>i {
  display: none;
}

.slide-nav-toggle .fixed-sidebar-left:hover .collapse.show {
  display: block;
}

.slide-nav-toggle .fixed-sidebar-left:hover .right-nav-text {
  opacity: 1;
}

.slide-nav-toggle .fixed-sidebar-left .right-nav-text {
  opacity: 0;
}

.slide-nav-toggle .page-wrapper {
  margin-left: 44px;
}
