<div class="row">

  <div class="col-md-2 d-none d-md-block bg-light sidebar">
    <app-left-nav-exercises></app-left-nav-exercises>
  </div>


  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-3">
    <h2>{{workout.title || "Workout Title"}}</h2>
    <form #workoutForm="ngForm" name="formWorkout" (ngSubmit)="save(workoutForm.form)">
      <div class="row">
        <div class="col-sm-4" ngModelGroup="exercises">
          <div *ngFor="let item of workout.exercises; let i=index" class="card mb-2" [ngModelGroup]="i">
            <div class="card-header">
              <h5 class="card-title pull-left">{{i +1}} {{item.exercise.title}}</h5>
              <span class="pull-right btn btn-danger" (click)="removeExercise(item)">
                <span class="ion-ios-trash"></span>
              </span>
            </div>
            <img [src]="item.exercise.image? '/assets/images/' + item.exercise.image: '/static/images/' + 'running.png' "
              class="card-img-top" alt="">
            <div class="btn-group pl-4 pr-4" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-primary" (click)="moveExerciseTo(item,0)"><span class="ion-ios-arrow-dropup"></span></button>
              <button type="button" class="btn btn-success" (click)="moveExerciseTo(item,i-1)"><span class="ion-ios-arrow-up"></span></button>
              <button type="button" class="btn btn-info" (click)="moveExerciseTo(item,i+1)"><span class="ion-ios-arrow-down"></span></button>
              <button type="button" class="btn btn-dark" (click)="moveExerciseTo(item,workout.exercises.length-1)"><span
                  class="ion-ios-arrow-dropdown"></span></button>
            </div>
            <div class="card-body">
              <h5 class="card-title"></h5>
              <div class="form-group">
                <select class="form-control" name="duration" [(ngModel)]="item.duration">
                  <option *ngFor="let duration of durations" [value]="duration.value">{{duration.title}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="workout-name">Name</label>
            <input type="text" class="form-control" id="workout-name" name="workoutName" placeholder="Enter workout name. Must be unique."
              [(ngModel)]="workout.name">
          </div>
          <div class="form-group">
            <label for="workout-title">Title</label>
            <input type="text" class="form-control" id="workout-title" name="title" placeholder="What would be the workout title?"
              [(ngModel)]="workout.title">
          </div>
          <div class="form-group">
            <label for="workout-description">Description</label>
            <textarea class="form-control" id="workout-description" name="description" placeholder="Enter workout description."
              [(ngModel)]="workout.description" rows="3"></textarea>
          </div>
          <div class="form-group">
            <label for="workout-rest">Rest Time (in seconds)</label>
            <input type="number" class="form-control" id="workout-rest" name="restBetweenExercise" placeholder="Rest period between exercise in seconds."
              [(ngModel)]="workout.restBetweenExercise">
          </div>
          <div class="form-group">
            <label>Total Exercises: <span class="badge badge-pill badge-primary"> {{workout.exercises?.length}} </span>
            </label>

          </div>
          <div class="form-group">
            <label>
              Total Duration:
              <span class="badge badge-pill badge-success" *ngIf="workout.exercises?.length>0">
                {{workout.totalWorkoutDuration()|secondsToTime}}
               </span>
              <span class="badge badge-pill badge-primary" *ngIf="workout.exercises?.length==0"></span>
            </label>

          </div>
          <button type="submit" class="btn btn-warning">Submit</button>
        </div>
      </div>
    </form>

  </main>
</div>
