<nav class="navbar navbar-expand-lg  workout-main-nav fixed-top" style="background-color: #1b2060 !important;border-bottom: 1px solid #2d3073;">
  <a class="navbar-brand" [routerLink]="['/home']">
    <img src="/assets/images/logo.png" width="21" height="22" class="d-inline-block align-middle" alt="">
    <span class="align-middle"> 7 Minute Workout </span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/builder/workout/new">
          <i class="fa fa-plus" aria-hidden="true"></i>
          New Workout
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/builder/exercise/new">
          <i class="fa fa-plus" aria-hidden="true"></i> New Exercise
        </a>
      </li>
      <li class="nav-item dropdown" routerLinkActive="active">
        <a class="nav-link dropdown-toggle" href="#" id="userManageService" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          User
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userManageService">
          <a class="dropdown-item" routerLink="/user/user-profile">
            <i class="fa fa-user" aria-hidden="true"></i>  Profile
          </a>
          <a class="dropdown-item" style="cursor: pointer" (click)="onLogout()">
            <i class="fa fa-sign-out" aria-hidden="true"></i> Sing out
          </a>
        </div>
      </li>
    </ul>
  </div>
</nav>
