<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-8 col-xl-8 col-lg-8">
      <div class="card mb-4">
        <div class="card-header">
          Create User
        </div>
        <div class="card-body">
          <!-- get alert notification -->
          <app-alert-notifications></app-alert-notifications>
          <!-- get alert notification -->

          <!-- Create user using  Reactive Forms -->
          <form [formGroup]="form" (submit)="onSubmit()">
            <div class="row">
              <div class="col-xl-6">
                <div class="form-group">
                  <label for="fullName">Full name</label>
                  <input type="text" class="form-control" formControlName="fullname" placeholder="Full name">
                  <small *ngIf="form.controls['fullname'].hasError('fullname') && (form.controls['fullname'].touched)"
                    class="form-text text-danger">
                    Full name requred.
                  </small>
                </div>
                <div class="form-group">
                  <label for="Email">Email address</label>
                  <input type="email" class="form-control" formControlName="email" placeholder="Enter email">
                  <small *ngIf="form.controls['email'].hasError('email') && (form.controls['email'].touched)"
                    class="form-text text-danger">
                    Email is Required
                  </small>
                </div>
                <div class="form-group">
                  <label for="Password">Password</label>
                  <input type="password" class="form-control" formControlName="password" placeholder="Password">

                  <small *ngIf="form.controls['password'].hasError('password') && (form.controls['password'].touched)"
                    class="form-text text-danger">
                    Password is Required
                  </small>
                </div>
              </div>
              <div class="col-xl-6">
                <div class="card">
                  <!-- <img src="/assets/images/user-1 80-180.jpg" style="height: 165px;  margin: auto;  " class="" alt="..."> -->
                  <!-- <img style="height: 165px;  margin: auto;  " class="" [src]="imagePreview" [alt]="form.value.title"> -->
                  <div class="image-preview"
                    *ngIf="imagePreview !== '' && imagePreview && form.controls['userImage'].valid">
                    <img [src]="imagePreview" [alt]="form.value.fullname" style="height: 165px;  margin: auto;" class="card-img-top">
                  </div>
                  <div class="card-body text-center">
                    <button class="btn btn-info" type="button" (click)="filePicker.click()">Pick Image</button>
                    <input type="file" #filePicker (change)="onImagePicked($event)">
                  </div>
                </div>
              </div>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
          </form>

          <!-- Create user using  Reactive Forms -->
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          Users
        </div>
        <div class="card-body">
          <pre>{{getAllUsersData|json}}</pre>
          <div class="table-responsive">
            <table class="table table-striped table-sm table-bordered">
              <thead>
                <tr>
                  <th>#</th>
                  <!-- <th>Image</th> -->
                  <th>Name</th>
                  <th>Email</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of getAllUsersData; let i = index">
                  <td>{{i + 1}}</td>
                  <td>{{item.fullname}}</td>
                  <td>{{item.email}}</td>
                  <td>
                    <a role="button" class="p-0 text-danger mr-3" data-toggle="tooltip" data-placement="top"
                      title="Delete" (click)="deleteUser(item)"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    <a role="button" data-toggle="tooltip" data-placement="top" title="Edit" class="btn p-0 text-dark"
                      (click)="updateUser(item)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                  </td>
                </tr>
                <tr *ngIf="tableDataNotFound">
                  <td colspan="4">Table data not found</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
