<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-8 col-xl-8 col-lg-8">
      <div class="card mb-4">
        <div class="card-header">
          Create User
        </div>
        <div class="card-body">
          <app-alert-notifications></app-alert-notifications>
          <form #signUpForm="ngForm" (ngSubmit)="signUpForm.valid && onSubmit(signUpForm)">
            <div class="form-row">
              <div class="form-group col-12 col-sm-12 col-md-4 col-xl-4 col-lg-4">
                <label for="fullname">Full name</label>
                <input type="text" name="fullname" id="fullName" class="form-control"
                  aria-describedby="provide full user name " placeholder="Full Name" #fullNameLocalVar="ngModel"
                  [(ngModel)]="selectedUser.fullname" required
                  [ngClass]="{'is-invalid': (fullNameLocalVar.control.hasError('required') && (fullNameLocalVar.touched)) || ((signUpForm.submitted) && !fullNameLocalVar.valid), 'is-valid' : (fullNameLocalVar.valid)}">
                <div
                  *ngIf="(fullNameLocalVar.control.hasError('required') &&  (fullNameLocalVar.touched)) || ((signUpForm.submitted) && !fullNameLocalVar.valid)"
                  class="invalid-feedback">
                  This field is required.
                </div>
              </div>
              <div class="form-group col-12 col-sm-12 col-md-4 col-xl-4 col-lg-4">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email"
                  aria-describedby="Enter valid email address" placeholder="Enter email" #emailLocalVar="ngModel"
                  [(ngModel)]="selectedUser.email" [pattern]="emailRegex" required
                  [ngClass]="{'is-invalid': ((emailLocalVar.control.hasError('required')) && (emailLocalVar.touched)) || (emailLocalVar.control.hasError('pattern')) || (signUpForm.submitted && !emailLocalVar.valid) , 'is-valid' : (!(emailLocalVar.control.hasError('pattern')) &&  (emailLocalVar.touched))}">
                <div
                  *ngIf="(emailLocalVar.control.hasError('required') &&  (emailLocalVar.touched)) || (signUpForm.submitted && !emailLocalVar.valid)"
                  class="invalid-feedback">
                  This field is required.
                </div>
                <div *ngIf="(emailLocalVar.control.hasError('pattern') && (emailLocalVar.touched)) "
                  class="invalid-feedback">
                  Invalid email address.
                </div>
              </div>
              <div class="form-group col-12 col-sm-12 col-md-4 col-xl-4 col-lg-4">
                <label for="password">Password</label>
                <input type="password" name="password" class="form-control" id="password" placeholder="Password"
                  #passwordLocalVar="ngModel" [(ngModel)]="selectedUser.password" minlength="4" required [ngClass]="{ 'is-invalid':
                            (passwordLocalVar.control.hasError('required') && (passwordLocalVar.touched)) ||
                            (passwordLocalVar.control.hasError('minlength') && (passwordLocalVar.touched)) ||
                            (signUpForm.submitted && !passwordLocalVar.valid), 'is-valid' : (!(passwordLocalVar.control.hasError('minlength')) &&  (passwordLocalVar.touched))
                        }">
                <div
                  *ngIf="((passwordLocalVar.control.hasError('required') && (passwordLocalVar.touched)) && !passwordLocalVar.control.hasError('minlength'))  || ((signUpForm.submitted && passwordLocalVar.errors) &&!passwordLocalVar.control.hasError('minlength'))"
                  class="invalid-feedback">
                  Title is required.
                </div>
                <div *ngIf="passwordLocalVar.control.hasError('minlength') && (passwordLocalVar.touched)"
                  class="invalid-feedback">
                  Title should be between 5 and 20 characters long.
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-12 col-sm-12 col-md-12 col-xl-12 col-lg-12 mb-0">
                <button type="submit" class="btn btn-primary pull-right">Register Account</button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          Users
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-striped table-sm table-bordered">
              <thead>
                <tr>
                  <th>#</th>
                  <!-- <th>Image</th> -->
                  <th>Name</th>
                  <th>Email</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of users; let i = index">
                  <td>{{i + 1}}</td>
                  <td>{{item.fullname}}</td>
                  <td>{{item.email}}</td>
                  <td>
                    <a role="button" class="p-0 text-danger mr-3" data-toggle="tooltip" data-placement="top"
                      title="Delete" (click)="deleteUser(item)"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    <a role="button" data-toggle="tooltip" data-placement="top" title="Edit" class="btn p-0 text-dark"
                      (click)="updateUser(item)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                  </td>
                </tr>
                <tr *ngIf="tableDataNotFound">
                  <td colspan="4">Table data not found</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
