<app-workout-runner-header></app-workout-runner-header>
<div class="container-fluid">
  <div class="jumbotron row">
    <div class="col-sm-6 mx-auto">
      <h1 class="text-center">Ready for a Workout?</h1>
      <div class="image-container row">
        <img src="/assets/images/start.png" class="img-fluid" />
      </div>
      <p>
        This example is a quick exercise to illustrate how the navbar and its contents work. Some navbars extend the
        width of the viewport, others are confined within a container. For positioning of navbars,
        checkout the top and fixed top examples.</p>
      <p>At the smallest breakpoint, the collapse plugin is used to hide the links and show a menu button to toggle the
        collapsed content.</p>
      <p>
        <a class="btn btn-primary btn-lg btn-block" routerLink="/workout" role="button">Start <span class="ion-md-play"></span></a>
        <!-- <a class="btn btn-primary btn-lg btn-block" routerLink="/dashboard" role="button">dashboard <span class="ion-md-play"></span></a>
        <a class="btn btn-primary btn-lg btn-block" routerLink="/finish" role="button">finish <span class="ion-md-play"></span></a> -->
      </p>
    </div>
  </div>
</div>
