<header style="border-bottom: 1px solid #2d3073;">
  <!-- Top navigation -->
  <app-workout-runner-header></app-workout-runner-header>
  <!-- Top navigation -->
</header>
<main>
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <section class="jumbotron text-white" style=" background-color: #1b1e63; border-radius: 0px;">
    <div class="container">
      <h1 class="display-6">Who become your own personal trainer!</h1>
      <p>
        This is a Self-Improvement personal workouts website.
        Become your own personal trainer to lose weight and get fit with fast, simple daily workouts.
        If you want to lose weight, get a flat tummy & strengthen your abdominal muscles, Try 7 Minute Workout and get
        a six pack while strengthening your core and toning your abs, with videos that show you how to perform each
        exercise. You can also create a new workout base on your demand
      </p>
      <p>
        <a class="btn btn-primary my-2 mx-2" href="#" role="button">Let Start &raquo; </a>
        <a class="btn btn-secondary my-2" href="#"> Create New</a>
      </p>
    </div>
  </section>
  <!-- Main jumbotron for a primary marketing message or call to action -->

  <section>
    <div class="container">
      <div class="d-flex justify-content-between">
        <h2>The workout we play</h2>
        <button type="button" class="btn btn-primary">The Workout list</button>
      </div>
      <p class="lead">
        The best exercises for regular people just like you and me, you can do a quick-fit workout
        anytime anywhere. It only takes 7 minutes. This 7 minute workout has been highlighted by the New York Times as
        offering "maximum results with minimal investment"
      </p>
    </div>
    <!-- Two exercise -->
    <div class="container">
      <div class="row mb-2">
        <div class="col-md-6">
          <div class="card flex-md-row mb-4 shadow-sm h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-primary">World</strong>
              <h3 class="mb-0">
                <a class="text-dark" href="#">Featured post</a>
              </h3>
              <div class="mb-1 text-muted">Nov 12</div>
              <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to
                additional content.</p>
              <a href="#">Continue reading</a>
            </div>

            <img src="assets/images/crunches.png" class="card-img-right flex-auto d-none d-lg-block" height="250"
              width="200" background="#55595c" alt="...">
          </div>
        </div>
        <div class="col-md-6">
          <div class="card flex-md-row mb-4 shadow-sm h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-success">Design</strong>
              <h3 class="mb-0">
                <a class="text-dark" href="#">Post title</a>
              </h3>
              <div class="mb-1 text-muted">Nov 11</div>
              <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to
                additional content.</p>
              <a href="#">Continue reading</a>
            </div>
            <img src="assets/images/lunges.png" class="card-img-right flex-auto d-none d-lg-block" height="250"
              width="200" background="#55595c" alt="...">
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="card mb-4 shadow-sm">
            <img src="assets/images/wallsit.png" class="card-img-top" height="225" width="100%" alt="...">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card mb-4 shadow-sm">
            <img src="assets/images/tricepdips.png" class="card-img-top" height="225" width="100%" alt="...">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card mb-4 shadow-sm">
            <img src="assets/images/stepUpOntoChair.png" class="card-img-top" height="225" width="100%" alt="...">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card mb-4 shadow-sm">
            <img src="assets/images/squat.png" class="card-img-top" height="225" width="100%" alt="...">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card mb-4 shadow-sm">
            <img src="assets/images/sideplank.png" class="card-img-top" height="225" width="100%" alt="...">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card mb-4 shadow-sm">
            <img src="assets/images/pushupNRotate.png" class="card-img-top" height="225" width="100%" alt="...">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card mb-4 shadow-sm">
            <img src="assets/images/Pushup.png" class="card-img-top" height="225" width="100%" alt="...">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card mb-4 shadow-sm">
            <img src="assets/images/Plank.png" class="card-img-top" height="225" width="100%" alt="...">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card mb-4 shadow-sm">
            <img src="assets/images/lunges.png" class="card-img-top" height="225" width="100%" alt="...">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card mb-4 shadow-sm">
            <img src="assets/images/highknees.png" class="card-img-top" height="225" width="100%" alt="...">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card mb-4 shadow-sm">
            <img src="assets/images/crunches.png" class="card-img-top" height="225" width="100%" alt="...">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card mb-4 shadow-sm">
            <img src="assets/images/JumpingJacks.png" class="card-img-top" height="225" width="100%" alt="...">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>




<div class="container-fluid">
  <div class="jumbotron row">
    <div class="col-sm-6">
      <h1 class="text-center">Ready for a Workout?</h1>
      <div class="image-container row">
        <img src="/assets/images/start.png" class="img-fluid" />
      </div>
      <p>
        This example is a quick exercise to illustrate how the navbar and its contents work. Some navbars extend the
        width of the viewport, others are confined within a container. For positioning of navbars,
        checkout the top and fixed top examples.</p>
      <p>At the smallest breakpoint, the collapse plugin is used to hide the links and show a menu button to toggle the
        collapsed content.</p>
      <p>
        <a class="btn btn-primary btn-lg btn-block" routerLink="/workout" role="button">Start <span class="ion-md-play"></span></a>
        <!-- <a class="btn btn-primary btn-lg btn-block" routerLink="/dashboard" role="button">dashboard <span class="ion-md-play"></span></a>
        <a class="btn btn-primary btn-lg btn-block" routerLink="/finish" role="button">finish <span class="ion-md-play"></span></a> -->
      </p>
    </div>
    <div class="col-sm-6">
      <h2>Workouts</h2>
      <form #f="ngForm" name="formWorkout" class="">
        <div class="form-group">
          <label for="search">Search Exercise</label>
          <input type="text" class="form-control" name="search" placeholder="Search for Workout" [(ngModel)]="searchTerm" />
        </div>
        <div class="form-group">
          <!-- <div *ngIf="workoutList && workoutList.length > 0">
            <div *ngFor="let workout of workoutList|search:'title': searchTerm|orderBy:'title'" class="workout tile"
              (click)="onSelect(workout)">
              <div class="title">{{workout.title}}</div>
              <div class="stats">
                <span class="duration" title="Duration"><span class="ion-md-time"></span> -
                  {{(workout.totalWorkoutDuration? workout.totalWorkoutDuration(): 0)|secondsToTime}}</span>
                <span class="float-right" title="Exercise Count"><span class="ion-md-list"></span> -
                  {{workout.exercises.length}}</span>
              </div>
            </div>
          </div> -->
        </div>
      </form>
      <div class="list-group" *ngIf="workoutList && workoutList.length > 0">
        <a (click)="onSelect(workout)" class="list-group-item list-group-item-action" *ngFor="let workout of workoutList|search:'title': searchTerm|orderBy:'title'">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{workout.title}}</h5>
            <small class="text-muted">{{(workout.totalWorkoutDuration? workout.totalWorkoutDuration():
              0)|secondsToTime}}</small>
          </div>
          <p class="mb-1">{{workout.description}}</p>
          <small class="text-muted">Exercises {{workout.exercises.length}}</small>
        </a>
      </div>
    </div>
  </div>
</div>
